/* universal selector */
* {
    padding: 0;
    margin: 0;
    outline: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}


/* common shared styles start */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.primary_btn {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 30px;
    margin-right: 10px;
}

/* common shared styles end */

/* header part style start */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF8F3;
    margin: 0 200px;
}

.logo {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    margin-right: 50px;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

/* header part style end */

/* banner part css start  */
.header_bg_color {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;

}

h2 {
    color: #474747;
    font-size: 40px;
    font-weight: 600;
}

h1 {
    color: #181818;
    font-size: 60px;
    font-weight: 700;
}

p {
    color: #757575;
    font-size: 15px;
    font-weight: 400;
    margin: 30px 0;
}

.banner_content {
    max-width: 400px;

}

.banner {
    display: flex;
    padding: 30px 30px 0px 150px;
    align-items: center;
    justify-content: space-between;
}

.banner_image img {
    max-width: 600px;
}

/* banner part css end  */

/* about part css start  */
.about {
    background-color: #FFF8F3;
    margin: 100px 200px;
    padding: 100px 100px;
}

.common_heading h4 {
    text-align: center;
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

.about_description p {
    text-align: center;
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 50px;
}

.about_address {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.about_address .address h4 {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.about_address .address h5 {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
}

/* about part css end  */

/* what I do section css start  */
.what_i_do {
    margin: 100px 200px;
}

.what_description p {
    text-align: center;
}

.box_item {
    height: 300px;
    width: 200px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 15px;
}

.box_image img {
    height: 44px;
    width: 44px;
    margin-bottom: 10px;
}

.box_heading h1 {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
}

.box_description p {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}

.what_i_do_box {
    display: flex;
    justify-content: space-between;
}

/* what I do section css end  */

/* resume section css start  */
.resumi_summary {
    margin: 0 200px;
}

.right_and_left_part {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;

}

.right_part {
    margin-right: 20px;
}

.right_heading h2,
.left_heading h2 {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.right_title h3,
.left_title h3 {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.right_institute h4,
.left_institute h4 {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: -20px;
}

.right_description p,
.left_description p {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}

hr {
    margin-bottom: 20px;
}

.Download_btn {
    text-align: center;
}

.Download_btn button {
    height: 40px;
    width: 150px;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: white;
}

/* resume section css end  */

/* footer part css start  */
.main_footer {
    background: #FFF8F3;
}

.footer {
    display: flex;
    padding: 130px 230px;
}

.foot_headeing h1 {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.foot_description p {
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.foot_icon img {
    margin-right: 10px;
}

.footer_left {
    margin-left: 20px;
}

.input_style {
    margin-top: 50px;
    margin-left: 100px;
}

input {
    height: 10px;
    width: 350px;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
}

textarea {
    border: none;
    padding: 15px;
}

.submit_btn {
    margin-left: 100px;
    margin-top: 40px;
}

.submit_btn button {
    height: 50px;
    width: 130px;
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

/* footer part css end  */




          /* responsive section start  */

/* small device responsive code start  */
@media screen and (max-width: 576px) {

   /* header part responsive start  */
    nav{
        flex-direction: column;
    }
    .logo{
        margin-bottom: 30px;
    }
    nav>ul{
        margin-left: 20px;
    }
    .banner{
        flex-direction: column;
    }
    .header_bg_color img{
        width: 100%;
    }
    .primary_btn{
        margin-bottom: 10px;
    }
    /* header part responsive end  */

    /* about part responsive start  */
.about{
    margin: 0;
    padding: 30px;
}
.about_address{
    flex-direction: column;
}
.about_address .address{
    margin-bottom: 25px;
}
    /* about part responsive end  */
    /* what I do part responsive start  */
.what_i_do{
    margin: 20px 20px;
}
.what_i_do_box{
    flex-direction: column;
    align-items: center;
}
.box_item{
    margin-bottom: 20px;
    width: 80%;
    text-align: center;
}
.box_image{
    margin-top: 40px;
}
    /* what I do part responsive end  */
    /* resumi part responsive start  */
.resumi_summary{
    margin: 80px 20px 0;
}
.right_and_left_part{
    flex-direction: column;
}
.right_heading h2, .left_heading h2{
    text-align: center;
    text-decoration: underline;
}
    /* resumi part responsive end  */

    /* footer part responsive start  */
    .footer{
        flex-direction: column;
        padding: 30px 20px;
        text-align: center;
    }
    .footer_left{
        margin: 30px 0 0 -30px;
    }
    .input_style{
        margin-left: 30px;
    }
    .submit_btn button{
        margin-left: -50px;
    }
    /* footer part responsive end  */
}
/* small device responsive code end  */

/* medium device responsive code start  */
@media screen and (min-width:576px) and (max-width:992px) {
    /* header part responsive code start  */
    nav{
        margin-left: 90px;
        padding-top: 20px;
    }
    nav ul{
        margin-left: 20px;
    }
    .primary_btn{
        margin-bottom: 10px;
    }
    .banner_image img{
        width:100%;
    }
    .banner{
        flex-direction: column;
    }
    /* header part responsive code start  */
    
    /* about part responsive code start  */
.about{
    margin: 0;
    padding: 20px;
}
.about_address{
    flex-direction: column;
}
.about_address .address{
    margin-bottom: 25px;
}
    /* about part responsive code end  */

    /* what I do part responsive code start  */
    .what_i_do{
        margin: 20px 20px;
    }
    .what_i_do_box{
        flex-direction: column;
        align-items: center;
    } 
    .box_item{
        margin-bottom: 20px;
        width: 80%;
        text-align: center;
    }
    .box_image{
        margin-top: 40px;
    }
    /* what I do part responsive code  end  */

       /* resumi part responsive start  */
.resumi_summary{
    margin: 80px 20px 0;
}
.right_and_left_part{
    flex-direction: column;
}
.right_heading h2, .left_heading h2{
    text-align: center;
    text-decoration: underline;
}
    /* resumi part responsive end  */

      /* footer part responsive start  */
      .footer{
        flex-direction: column;
        padding: 30px 20px;
        text-align: center;
    }
    .footer_left{
        margin: 30px 0 0 -30px;
    }
    .input_style{
        margin-left: 30px;
    }
    .submit_btn button{
        margin-left: -50px;
    }
    /* footer part responsive end  */
}
/* medium device responsive code end  */


/* large device responsive code start  */
@media screen and (min-width:992px) and (max-width:1200px) {
         /* header part responsive start  */
   nav{
    padding-top: 15px;
   }
    .primary_btn{
        margin-bottom: 15px;
    }
         /* header part responsive end  */
         /* about part responsive start  */
.about{
    margin: 50px 100px;
}
         /* about part responsive end  */
         /* what I do part responsive start  */
.what_i_do{
    margin: 50px 100px;
}
.box_item{
    height: 350px;
}
         /* what I do part responsive end  */
         /* resumi part responsive start  */

 .right_and_left_part{
    flex-direction: column;
 }        
.resumi_summary{
    margin: 50px 100px;
}
.right_heading h2, .left_heading h2{
    text-align: center;
    text-decoration: underline;
}

         /* resumi part responsive end  */


}


/* large device responsive code end  */

          /* responsive section end  */